<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <h3>Complaints</h3>
      <table class="table">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Email id</th>
          <th scope="col">Status</th>
          <th scope="col">Date Created</th>
          <th scope="col">Date Updated</th>
          <th scope="col">Heading</th>
        </tr>
        <tr *ngFor="let listOfComplaint of listOfComplaints; let i=index" data-toggle="modal" data-target="#myModal" (click)="onEditComplaint(listOfComplaint)"
          style="cursor: pointer;">
          <th scope="row">{{ i+1 }}</th>
          <td>{{ listOfComplaint.user.email }}</td>
          <td>{{ listOfComplaint.status }}</td>
          <td>{{ listOfComplaint.dateCreated | date: 'medium'}}</td>
          <td>{{ listOfComplaint.dateUpdated | date: 'medium'}}</td>
          <td>{{ listOfComplaint.headText }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="container">

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" #closeModal>&times;</button>
            <h3 class="modal-title" style="text-align: center;">Complaint Box</h3>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="onComplaintEdit(f)" #f="ngForm">
              <div class="form-group">
                Heading:
                <label for="heading">{{ updateComplaint.headText }}</label>
              </div>
              <div class="form-group">
                Description:
                <label for="description">{{ updateComplaint.descriptionText }}</label>
              </div>
              <div class="form-group">
                Date Created:
                <label for="heading">{{ updateComplaint.dateCreated | date: 'medium' }}</label>
              </div>
              <div class="form-group">
                Last Updated:
                <label for="heading">{{ updateComplaint.dateUpdated | date: 'medium' }}</label>
              </div>
              <div class="form-group">
                <label for="accountType">Status:</label>
                <select class="form-control" name="complaintStatus" id="complaintStatus" ngModel>
                  <option value="open">Open</option>
                  <option value="in progress">In Progress</option>
                  <option value="closed">Closed</option>
                </select>
              </div>
              <div class="form-group">
                <hr>
                <div *ngIf="!updateComplaint.comments || updateComplaint.comments.length === 0; else showComments">
                  <p>No comments added</p>
                </div>
                <ng-template #showComments>
                  <h5>Comments</h5>
                  <div *ngFor="let comment of updateComplaint.comments; let i=index">
                    <label for="comments">{{ comment.commentText }}</label>
                  </div>
                </ng-template>

              </div>
              <hr>
              <div class="form-group">
                <label for="addNewComments">Enter New Comment:</label>
                <input type="text" class="form-control" name="addComments" ngModel>
              </div>
              <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>